body {
    font-family: 'Noto Sans KR', sans-serif;
}  

h1,
h2,
h3,
h4,
.jua-regular {
    font-family: "Jua", sans-serif;
  }
  

header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/board.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

/* 로고 영역 */
.bagel-fat-one-regula {
    font-family: 'Bagel Fat One', system-ui;

}

/* 네비게이션 영역 */
.nav-link:hover,
.nav-link.active {
    color: #34ad10 !important;
}

/* 글쓰기 */
table {margin:auto;
}
input[type="text"] {
    border: 1.5px rgb(68, 136, 244) solid;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}
textarea{
    border: 1.5px rgb(68, 136, 244) solid;
    width:500px;
    height: 400px;
    border-radius: 5px;
    padding-left:10px;
    padding-top:10px;
    resize:none;
}
.header{
    height:30px;
}
input[type="submit"]{
    width: 100px;
    height: 40px;
    font-size: 15px;
    border:0;
    outline:1.5px rgb(68, 136, 244) solid;
    border-radius:5px;
    padding-left:10px;
    background-color:rgb(164, 199, 255)
}
input[type="submit"]:active {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border:0;
    outline:1.5px rgb(27, 76, 155) solid;
    padding-left:10px;
    background-color:rgb(68, 136, 244)
}